body 
{background-color: white;
margin:0;
text-align: center;
font-family:  helvetica, sans-serif;}

h1 {margin-top:0;
    color:white}
    h3 {
        color:white}
        h4 {
            color:white;
            font-family:  helvetica, sans-serif;}

a {color:white;
font-size:10vw;}

img {width: 100%;}
    
p {color:#2E3840;
    margin:10%;
    text-align: justify;
    font-family:  helvetica, sans-serif;}
.top-container 
{   background-color: #2E3840;
    height: 20%;
    padding-top:20px;
    padding-left:20px;
    padding-bottom:15px;}
.duckblind {width: 100%;}

.bottom-container 
{   background-color: #2E3840;
    height: 100px;
    padding-top:40px;
    padding-bottom:40px;}
